body {
    font-family: Verdana, regular;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
  text-decoration: underline;
}

h2 {
    color: #333;
    font-style: italic
}

.code-ex {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
}

.photo-st {
width: 150px; 
height: 150px;
border-radius: 50%; 
overflow: hidden;
display: inline-block; 
}

img {
width: 100%; 
height: 100%;
object-fit: cover;
}